/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.plan-container {
	display:block;
}

.columns {
	float: left;
	padding: 8px;
	width: 12.5%;
}

.columns.head-col {
	font-weight: bold;
}

.plan {
	list-style-type: none;
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.columns.data-col:hover {
	box-shadow: 0 8px 18px 5px #767676;
}

.plan li {
	border-bottom: 1px solid #eee;
	padding: 10px 5px;
	text-align: center;
	line-height: 1.5;
	min-height: 50px;
}

.plan .header {
	background-color: #800000;
	color: white;
	font-size: 14px;
	height: 90px;
	min-height: 50px;
}

.plan li:nth-child(even) {
	background-color: #f2f2f2;
}

.plan .price {
	background-color: #FFEBCD !important;
	font-size: 16px;
}

.plan .buy {
	background-color: #800000 !important;
	font-size: 10px;
	line-height:1.25;
}

.button {
	background-color: #00BFFF;
	border: none;
	color: white;
	box-shadow: 0 0.25em 0 0 #004c66,0 4px 9px rgba(0,0,0,0.75);
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height:1.25;
}

.button:hover {
	background-color:cyan;
	box-shadow: 0 0.25em 0 0 #0085b2,0 4px 9px rgba(0,0,0,0.75);
	font-weight: bold;
}

.label {
	color: #167ac6;
}

@media only screen and (max-width: 600px) {
	.columns {
		width: 100%;
	}
	div.columns.head-col, .space {
		display:none;
	}
	.label {
		display:visible;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.columns {
		width: 50%;
	}
	div.columns.head-col, .space {
		display:none;
	}
	.label {
		display:visible;
	}
}

@media only screen and (min-width: 801px) {
	.label {
		display:none;
	}
	.plan li {
		height: 60px;
	}
}


.unavail-btn {
	pointer-events: none;
}
.unavail-icon {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding:3px;
	display:inline-block;
}
.unavail-text {
	display:block;
	padding:10px;
}
.button {
	color:darkgrey;
	background-color: black;
	cursor: not-allowed;
	box-shadow: none;
}
.button:hover {
	color:darkgrey;
	background-color:black;
	box-shadow: 0 0.25em 0 0 #0085b2,0 4px 9px rgba(0,0,0,0.75);
	box-shadow: none;
}